/* * {
	box-sizing: border-box;
} */
body{
	position: relative;
	width: 100%;
}
.card-images {
	border-radius: 25px;
}
main {
	columns: 250px;
	column-gap: 7px;
}
article {
	break-inside: avoid-column;
	margin: 7px; 
}